.fotoDePerfil {
    width: 23.75rem;
    height: 29.375rem;
    border-radius: 5px;
}

.home {
    width: 80%;
    margin: 10vh auto;
    animation: fade .3s ease-in-out;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 1rem;
    height: auto;
    color: #fff;
    animation: float 3s infinite ease-in-out;
    position: relative;
}

.sobre-txt p {
    width: 25rem;
    font-weight: 300;
}

.sobre-txt h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 500;
}

.sobre-txt h3 {
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.download {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}

.download-bt {
    display: flex;
    gap: 10px;
    width: auto;
    height: auto;
    padding: 1rem;
    font-size: 20px;
    background: linear-gradient(180deg, #FF005C 0%, #C90048 100%);;
    border: 1px solid #FF005C;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-weight: 500;

    &:hover {
        background-color: transparent;
    }
}

@keyframes float {
  
    0% {
        top: 0;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0;
    }
}

@keyframes fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }